
.section.row.entries.bg-primary.section-no-margin-bottom
	.col-lg-6.col-xl-5
		.row
			%article.entry.style-grid.style-hero.hero-md-largest.type-post.col-md-8.col-lg-12.colheight-sm-1.colheight-md-2.colheight-lg-2.colheight-xl-2
				.ribbon.ribbon-pulled.ribbon-small.ribbon-highlight
					%a{ href: '#' }
						Howdy!
				%header.entry-header
					%h3.entry-title
						Welcome to BestCardioWorkouts.com
					%p
						Everything you need to get into the best shape of your life.
				%figure.entry-thumbnail
					%a.overlay.overlay-primary{ href: '#' }
						%img{ src: 'http://www.menshealth.com/sites/menshealth.com/files/sprint-exercise.jpg', style: 'opacity:0.66' }

			- if @articles[0..1].present?
				- @articles[0..1].each do |article|
					= render 'swell_media/articles/card', article: article, args: {}
	.col-lg-6.col-xl-7
		.row
			- if @articles[2..7].present?
				- @articles[2..7].each do |article|
					= render 'swell_media/articles/card', article: article, args: {}

#content.content.section.row
	.col-md-9.col-lg-9
		.row
			.col-md-4.col-lg-4.md-pull-right
				%aside.widget
					%h2.widget-title.ribbon.ribbon-focus
						%a{ href: swell_media.articles_path() }
							%span Learn More
					.entries.row

						- if @articles[2..7].present?
							- @articles[2..7].each do |article|
								%article.type-post.style-media-list.media.col-sm-6.col-md-12
									%img.media-object.pull-left{ src: 'http://www.runningforbeginners.com/wp-content/uploads/2012/06/gravel_road.jpg', width: 80, height: 80 }
									.media-body
										.entry-title
											= article.title
										.entry-meta
											= article.category.name

			.bg-base.col-md-8.col-lg-8
				%h2.section-title.ribbon.ribbon-highlight
					%span
						Trending
				.entries
					- if @trending.present?
						= render 'swell_media/articles/post', article: @trending, args: {}
	.sidebar.col-md-3.col-lg-3
		%aside.widget
			%h2.widget-title.ribbon
				%a{ href: '#' }
					An Ad?






						





